#op_button{
  cursor: pointer;
  background: orange;
  width: 90px;
  height: 45px;
}

#equal_button{
  background: orange;
  width: 90px;
  height: 45px;
}

#button1{
  width: 90px;
  height: 45px;
}

#button2{
  width: 90px;
  height: 45px;
}

#button3{
  width: 90px;
  height: 45px;
}

#button4{
  width: 90px;
  height: 45px;
}

#button5{
  width: 90px;
  height: 45px;
}

#button6{
  width: 90px;
  height: 45px;
}

#button7{
  width: 90px;
  height: 45px;
}

#button8{
  width: 90px;
  height: 45px;
}

#button9{
  width: 90px;
  height: 45px;
}

#decimal{
width: 90px;
height: 45px;
}

#buttonAC{
width: 90px;
height: 45px;
}

#zero_button{
  width: 184px;
  height: 45px;
}

body{
  background-color: turquoise;
}

#calc_frame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: blue;
  padding: 20px;
  border-radius: 6px;
}

#textview {
  width: 370px;
  height: 50px;
  font-size: 25px;
  margin: 1px;
}

#button:hover {
  background-color: lightblue;
}

#buttonAC:hover {
  background-color: lightblue;
}

#zero_button:hover {
  background-color: lightblue;
}

#percentage_button{
  width: 90px;
  height: 45px;
}

#negation_button{
  width: 90px;
  height: 45px;
}

#pi_Button{
  width: 90px;
  height: 45px;
}
